
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="POST">
                        <div class="form-group row ">
                        {% csrf_token %}
                        <label class="col-md-2"><b>Select Food to add:</b></label>
                        <select class="col-md-6 form-control" name="food_consumed" id="food_consumed">
                            {% for food in foods%}
                                <option value="{{food.name}}"> {{food.name}}</option>
                            {% endfor %}
                        </select>
                        <button class="btn-success" type="submit">Add </button>
                        {% for c in consumed_food %}
                        {{c.food_consumed.name}}
                        {% endfor %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>

